:root {
  --font-color: white;
  --icon-color: hotpink;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: var(--icon-color);
}

#nav-bar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

#menu ul {
  display: flex;
  list-style: none;
  border: 0;
}

#menu li {
  padding: 5px 12px;
}

#menu li:hover {
  background-color: burlywood;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

#icons i {
  padding: 0 10px;
}

#company,
#icons {
  white-space: nowrap;
}

#bars {
  display: none;
}

#menu,
#icons {
  display: block;
}
@media screen and (max-width: 550px) {
  #company {
    padding: 20px 10px;
  }

  #bars {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  #nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  #menu {
    width: 100%;
  }

  #menu ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  #icons {
    width: 100%;
    text-align: center;
  }

  #bars {
    display: block;
  }

  #menu,
  #icons {
    display: none;
  }

  #menu.active,
  #icons.active {
    display: block;
  }
}
